/* PEDIR CHAT REORGANIZAR ORDENS E AGRUPAMENTOS CSS compartilhar html pra contextualizar e pedir para ordernar de mais específico para menos específico? */

/* ========== RESET ========== */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

*, *::before, *::after {
    box-sizing: inherit;
}
  
ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    text-decoration: none; 
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* ========== LOGO ========== */
.logo-leouve {
    width: 160px;
    height: 51px; 
    margin-left: 49px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

#header {
    background-color: #c3d053;
    /* height: 54px; */
    padding: 12px 0;
}

#header #radios a:last-child {
    margin-right: 0;
}

#header #radios a {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    margin-right: 5px;
}

#header #radios a.off {
    color: #7c7c7c;
}

#header #player form select {
    border-radius: 25px;
    border-color: #fff;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 5px 10px;
    max-width: 230px;
}

#header #player form button {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

#radios {
    flex: 1; /* Ocupa o espaço restante à esquerda */
    white-space: nowrap; /* Garante que o conteúdo interno não quebre para uma nova linha */
}

#player {
    flex: 0 1 auto; /* Mantém a largura automática, ocupando apenas o espaço necessário */
    display: flex;
    align-items: center;
}

#nav {
    background-color: #4278bf;
    padding: 14px;
    width: 100%;
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}

#ultimas-noticias .inline-news .title a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #4d4c4c;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu, #logo, #search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: #333a3f;
    color: #fff;
}

#footer .logo img {
    max-width: 400px;
    height: auto;
    width: 100%;
}

#footer .socials ul li a img {
    max-width: 25px;
    height: 25px;
}

#menu-rodape-1 li::before, #menu-rodape-2 li::before {
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-bottom: 17px;
    color: #e2ffd1;
    }

#footer .socials ul li {
    margin-right: 20px;
}

#footer .socials ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}

#footer .menu ul li a {
    color: #e2ffd1;
    text-decoration: none;
    font-size: 16px;
}

#footer .menu ul {
    list-style: none;
}

.bw2 p a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

ol, ul {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

footer .socials #footer-social {
    margin-bottom: 0px !important;
}

footer .socials ui {
    list-style: none;
    display: flex;
}

footer #footer-texts {
    align-items: flex-start;
}

#footer #footer-row {
    /* box-sizing: inherit; */
    align-items: flex-start;
}

#footer .address p {
    margin-bottom: 5px;
}

#footer .menu h4 {
    margin-bottom: 20px;
    color: #ccc;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
}

#footer .bottom {
    background-color: #c3d053;
}

#footer .bottom p {
    font-size: 13px;
    color: #333a3f;
    margin-bottom: 0px;
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
    height: 120px;
}

.pt-5, .py-5 {
    padding-top: 3rem !important;
}

#cidades {
    margin-right: 0.5rem !important;
}

/* .mb-5 p {
    margin-bottom: 0rem !important;
} */
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* .col-md-auto { TESTEEEE*/ 
    /* border: solid 1px red; */
    /* color: #000000; */
    /* background-color: black; */
    /* padding: 20px; */
    /* text-align: center; */
    /* 901089030001-83 */
/* } */
/* #menu img, #logo img, #search img { */
    /* max-width: 100%; Garante que as imagens se ajustem ao tamanho da coluna */
/* } */

/* Estilo geral do container com a row e colunas */
.container {
    /* width: 100%; */
    min-width: 1320px;
    /* max-width: 1320px; */
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* .row { */
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    /* margin-right: -15px; */
    /* margin-left: -15px; */
/* } */
/* Flexbox para a row, garantindo que os itens se alinhem e distribuam corretamente */
.row {
    display: flex;
    /* flex-wrap: nowrap; Evita que os itens se movam para baixo */
    flex-wrap: wrap; /* Permite que os itens se movam para baixo */
    margin-right: -15px; /* comentar? */
    margin-left: -15px;
    /* justify-content: space-between;  */
    /* Espaça uniformemente os itens */
    align-items: center; /* Alinha verticalmente os itens */
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário // estava como unset?*/
    height: auto;
    max-width: 100%;
}

#single .container {
    height: 2600px; 
    padding-left: 190px; 
    padding-right: 190px;
}

/* Ajustes específicos para a coluna com swiper */
.col-8 {
    flex: 1; /* Ocupa o espaço restante disponível */
    display: flex;
    align-items: center;
}

/* Estilo para o swiper */
.swiper {
    width: 100%;
    /* overflow: hidden; Garante que o conteúdo não vaze */
}

#header-row {
    display: flex;
    flex-direction: row; /* Alinha os slides horizontalmente */
}

.swiper-slide {
    flex: 0 0 auto; /* Garante que os slides não se redimensionem */
    margin-right: 10px; /* Espaçamento entre os slides */
}

.swiper-slide a {
    text-decoration: none;
    color: #000; /* Cor do texto dos links */
    display: block;
}

.swiper-slide a:hover {
    color: #4278bf; /* Cor do link ao passar o mouse */
}

/* Estilo para o player */
#player {
    display: flex;
    align-items: center;
}

/* Ajusta o tamanho e espaçamento do select e do botão dentro do player */
#player select {
    margin-right: 10px; /* Espaçamento entre o select e o botão */
}

#player button img {
    max-width: 30px; /* Ajusta o tamanho do ícone do botão */
}

#nav #search img {
    margin-right: 55px;
    width: 40px;
    height: auto;
}

#nav #menu img {
    margin-left: 15px;
}

/* Estilo para os aplicativos */
#apps {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Garante que os ícones não se movam para a linha de baixo */
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

#apps a {
    margin-left: 10px; /* Espaçamento entre os ícones dos aplicativos */
}

#apps img {
    max-width: 30px; /* Ajusta o tamanho dos ícones dos aplicativos */
}

/* Ajuste de padding e margens para colunas auto */
.col-auto {
    display: block; 
    /* flex */
    align-items: center;
}
 .inline-news {
            margin-bottom: 1rem; /* Ajuste a margem inferior conforme necessário */
        }

        .row.no-gutters {
            margin-right: 0;
            margin-left: 0;
            align-items: flex-start;
        }

        .col-md-4 {
            padding: 0;
        }

        /* .thumbnail img { */
            /* max-width: 100%; Ajusta a imagem ao tamanho do contêiner */
            /* height: auto; Mantém a proporção da imagem */
        /* } */

        .col-md-8 {
            padding-left: 1.5rem; /* Ajuste o padding conforme necessário */
        }

        /* Container para a categoria e a hat na mesma linha */
        .category-container {
            display: flex;
            align-items: center;
            gap: 10px; /* Espaçamento entre category e hat */
            margin-bottom: 0.5rem; /* Margem inferior entre categoria e título */
        }

        /* Estilo da category */
        .category {
            font-weight: bold;
            color: #333; /* Ajuste a cor conforme necessário */
            text-decoration: none;
        }

        /* Estilo da hat */
        /* .hat { */
            /* font-style: normal; */
            /* font-style: italic; */
            /* color: #c3d053; Ajuste a cor conforme necessário */
        /* } */

        /* Estilo do título */
        .title {
            margin: 0.5rem 0; /* Ajuste a margem conforme necessário */
        }

        .title a {
            text-decoration: none;
            color: inherit; /* Faz com que a cor do link siga a cor do texto */
        }

        
        #ultimas-noticias .inline-news .infos {
            display: flex;
            justify-content: space-between;
            /* align-items: center;
            font-size: 0.875rem; 
            color: #4d4c4c;  */
        }
		
.col-md-8.pl-4 {
    height: 185px; /* Define a altura para 185px */
    
}



.inline-news {
    width: 800px; /* Define a largura para 800px */
    margin-bottom: 1rem; /* Margem inferior para espaçar dos elementos abaixo */
}
/* .title a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #4d4c4c;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */

#ultimas-noticias .inline-news .infos .author a, #ultimas-noticias .inline-news .infos .date {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #4d4c4c;
}

#ultimas-noticias .inline-news .row .hat {
    font-style: normal;
    background-color: #c3d053;
}

.inline-news .category, #ultimas-noticias .inline-news .tag, #ultimas-noticias .inline-news .hat {
    text-decoration: none;
    background-color: #4278bf;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


#ultimas-noticias .title-page {
    font-size: 50px;
    font-weight: 700;
    color: #4d4c4c;
    line-height: 1.2;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    min-width: 900px;
}

#base{
	
    margin-top: 20px;

	
}

img {
    border-radius: 8px; /* Ajuste o valor conforme necessário */
}

  .inline-news {
    width: 100%;
    max-width: 800px; /* Define o tamanho máximo como 800px */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    margin-bottom: 1rem; /* Margem inferior para espaçar dos elementos abaixo */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

/* Ajuste para telas menores */
@media (max-width: 800px) {
    .inline-news {
        padding: 0 10px; /* Adiciona padding para evitar que o conteúdo encoste nas bordas */
    }
}


/* =========== NOTÍCIA DO DIA ===========*/
.border-left {
    border-left: 1px solid #dedede;
}

#news-day .title-section {
    font-size: 17px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

#news-day .title-section::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
    opacity: .5;
}

#news-day .news {
    position: relative;
    padding: 13px 19px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 262px;
    display: flex;
    align-items: flex-end;
}

#news-day .news .layer {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#news-day .news .content {
    z-index: 999;
}

#news-day .news .content .tag, #news-day .news .content .category {
    text-decoration: none;
    background-color: #4278bf;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
}

#news-day .news .content .title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#news-day .news .content .title a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

/* =========== PUBLIEDITORIAL ===========*/
#publieditorial .title-section {
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

#publieditorial .title-section::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
    opacity: .5;
}

#publieditorial .news {
    position: relative;
    padding: 13px 19px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 262px;
    display: flex;
    align-items: flex-end;
}

#publieditorial .news .layer {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#publieditorial .news .content {
    z-index: 999;
}

#publieditorial .news .content .tag, #publieditorial .news .content .category {
    text-decoration: none;
    background-color: #4278bf;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
}

#publieditorial .news .content .title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#publieditorial .news .content .title a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

/* =========== LEOUVE TV ===========*/
#leouve-tv .title-section {
    font-size: 17px;
    font-weight: 700;
    color: #4278bf;
}

#leouve-tv .title-section::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #4278bf;
    opacity: .5;
}

#leouve-tv .video {
    position: relative;
    border-radius: 5px;
    height: 262px;
    background-position: center;
}

#leouve-tv .video .video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#leouve-tv .video .content {
    cursor: pointer;
    padding: 13px 19px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

#leouve-tv .video .content .title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
}

/* =========== NOTÍCIA 1 ===========*/
/* #search-form {
    background-color: #4278bf;
    padding: 20px;
    border-top: 1px solid #c3d053;
    width: 100%;
    display: none;
}

#search-form form {
    display: flex;
}

#search-form form input[type=text] {
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 5px;
}

#search-form form button {
    background-color: #c3d053;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    padding: 0 20px;
    cursor: pointer;
} */

#single .title {
    font-size: 50px;
    font-weight: 700;
    color: #4d4c4c;
    line-height: 1.2;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

#single .excerpt {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

#single .infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

#single .infos .author {
    display: flex;
}


#single .infos .author .thumbnail {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #4278bf;
}


#single .infos .author .thumbnail img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 2px solid #4278bf;
}

#single .infos .author .name {
    font-size: 14px;
    font-weight: 400;
    color: #4d4c4c;
}

#single .infos .author .name a {
    color: #4d4c4c;
    font-weight: 700;
    text-decoration: none;
}

#single .infos .author .date {
    font-size: 14px;
    font-weight: 300;
}

#single .infos .sharer p {
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}

#single .infos .sharer .socials {
    display: flex;
}


#single .infos .sharer .socials a {
    background-color: #4278bf;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

#single .infos .sharer .socials a img {
    max-width: 22px;
    height: auto;
}

#audiome-container {
    margin-top: -30px;
    margin-bottom: 95.5px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#audiome-ref {
    width: 100%;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%);
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    font-family: arial;
    color: var(--client-color);
}

#audiomeouca {
    font-size: 13px;
    color: #000 !important;
    cursor: pointer;
    font-family: arial;
    text-transform: lowercase;
}

#audiomelogo {
    font-size: 13px;
    color: #000 !important;
    cursor: pointer;
    font-family: arial;
    text-transform: lowercase;
    background-color: #fff;
}


#audiome-player {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px;
    border-radius: 0;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%);
    overflow: hidden;
}

#single .thumbnail-caption {
    text-align: center;
    font-size: 12px;
    color: #4d4c4c;
}

#single article {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    --ws-font-size-title: 20px;
    --ws-font-size-circle-title: 14px;
    --ws-font-size-excerpt: 16px;
    --ws-font-size-author-date: 14px;
    --ws-aspect-ratio: 4/6;
    --ws-list-aspect-ratio: 4/6;
    --ws-overlay-text-color: #fff;
    --ws-overlay-text-lh: 1.6;
    --ws-story-min-width: 230px;
    --ws-story-max-width: 100%;
    --ws-circle-size: 96px;
    --ws-circle-border-color: #ccc;
}

#single article p, #single article .label {
    margin-bottom: 30px;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

#more-related .title-section, #more-author .title-section {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.swiper-pointer-events {
    touch-action: pan-y;
    }

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    }

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    }

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    }

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/44*27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - var(--swiper-navigation-size)/2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
    }

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
    }

#single .container .size-post-thumbnail {
    border-radius: 0%;
}
#more-related .news .thumbnail, #more-author .news .thumbnail {
    position: relative;
    width: 100%;
    min-height: 130px;
    background-color: #4278bf;
    border-radius: 5px;
    }

#more-related .news .thumbnail img, #more-author .news .thumbnail img {
    border-radius: inherit;
    }

#more-related .news .thumbnail .cartola:last-child, #more-author .news .thumbnail .cartola:last-child {
    margin-right: 0;
    }

#more-related .news .thumbnail .cartola, #more-author .news .thumbnail .cartola {
    background-color: #c3d053;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    position: absolute;
    bottom: 13px;
    right: 13px;
    z-index: 999;
    }

#more-related .news .title, #more-author .news .title {
    font-size: 16px;
    font-weight: 700;
    color: #4d4c4c;
    }

#more-related .title-section, #more-author .title-section {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    }

#more-related .title-section a, #more-author .title-section a {
    font-size: inherit;
    color: #333;
    text-decoration: none;
    }

#more-related .title a, #more-author .title a {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    }

section #single {
    height: 2546.875px !important;
}

#layer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(6px);
    z-index: 9999;
}


/* NOTICIA 2 */
#single article a {
    color: #707c00;
    text-decoration: underline;
}

#single article blockquote {
    border-left: 3px solid rgba(195, 208, 83, .5);
    padding-left: 20px;
}

/* #single .container article #lastpar { */
    /* margin-bottom: 1000000px; */
/* } */

#single #second {
    height: 1975px;
}

/* NOTÍCIA 3  */
#single article .highlight {
    background-color: rgba(195, 208, 83, 0.5); /* Cor de destaque */
    font-weight: 700; /* Negrito */
    padding: 0 3px; /* Espaçamento para a área destacada */
    transition: background-color 0.8s ease; /* Transição suave */
}

#single #third {
    height: 2175px;
}

/* NOTÍCIA 4  */
/* #single article h3 #medalhas { */
    /* font-size: 28.8px */
/* } */

#single #fourth {
    height: 2275px;
}

/* FORM CONTAINER */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="date"] {
    padding: 7px;
}
.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #45a049;
}